@model IEnumerable<WebAPI.Models.ZestawienieMiesieczne>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataWpisu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KosztyBiuro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KosztyAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KosztyLacznie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrzychodyLacznie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatLacznie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataWpisu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KosztyBiuro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KosztyAuto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KosztyLacznie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrzychodyLacznie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatLacznie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
